<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="decorator :: page">
    <head>
        <script th:inline="javascript">
            $(function() {
                var socket = new SockJS("/hello");
                var stompClient = Stomp.over(socket);
                stompClient.connect({}, function(frame) {});

                $("#upload").on("click", function() {
                    var oMyForm = new FormData(document.getElementById('form'));
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    $.ajax({
                        url: "/file/new",
                        data: oMyForm,
                        dataType: 'text',
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        complete: function(msg) {
                            if (msg.responseText === "SUCCESS") {
                                stompClient.send("/app/hello", {}, JSON.stringify({'name': msg.responseText}));
                                $(".error").text("");
                            } else if (msg.responseText === "FORMAT") {
                                $(".error").text("Wrong file format");
                            } else {
                                $(".error").text("ERROR");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div th:fragment="content">
            <!--<h2>Hello <span th:text="${#authentication.name}">Name</span></h2>

            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                This will only be displayed if authenticated user has role ROLE_ADMIN. <br />
            </div>

            <div class="label label-info" th:each="user : ${users}" th:text="${user.id + ' ' + user.username + ' '} + #{${user.status}}">Text</div>-->
            <!--<div class="label label-info" th:each="employee : ${employees}" th:text="${employee.firstName + ' ' + employee.lastName + ' ' + employee.EGN}"></div>-->

            <!--<form style="margin-top: 20px; margin-bottom: 10px" id="form" enctype="multipart/form-data">
                <label>File name: </label><br />
                <input type="text" name="name" />
                <input style="margin-top: 10px;" name="file" type="file" />
            </form>
            <button class="btn btn-default" id="upload">Upload</button>

            <label class="error"></label><br />-->

            <div class="container">
                <h2>Служители</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Фамилия</th>
                            <th>ЕГН</th>
                            <th>Отдел</th>
                        </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(employees)}">
                        <tr data-th-each="employee : ${employees}">
                            <td data-th-text="${employee.firstName}">...</td>
                            <td data-th-text="${employee.lastName}">...</td>
                            <td data-th-text="${employee.egn}">...</td>
                            <td data-th-text="${employee.department != null} ? ${employee.department.name}">...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>