<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <script th:src="@{/resources/js/jquery-1.11.2.min.js}"></script>
        <script th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
        <script th:src="@{/resources/js/stomp.js}"></script>
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <script th:inline="javascript">
            $(function() {
                var socket = new SockJS("/hello");
                var stompClient = Stomp.over(socket);
                stompClient.connect({}, function(frame) {});

                $("#upload").on("click", function() {
                    var oMyForm = new FormData(document.getElementById('form'));
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    $.ajax({
                        url: "/upload",
                        data: oMyForm,
                        dataType: 'text',
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        complete: function(msg) {
                            if (msg.responseText === "SUCCESS") {
                                stompClient.send("/app/hello", {}, JSON.stringify({'name': msg.responseText}));
                                $("#error").text("");
                            } else if (msg.responseText === "FORMAT") {
                                $("#error").text("Wrong file format");
                            } else {
                                $("#error").text("ERROR");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h2>Hello Test</h2>

<!--        <c:forEach items="${users}" varStatus="i" var="user">
            <div>${user.id} ${user.username} ${user.status} <spring:message code="ACTIVE" /> ${i.index}</div>
        </c:forEach>-->

        <div th:each="user : ${users}">
             <div th:text="${user.id}">Text</div>
             <div th:text="${user.username}">Text</div>
             <div th:text="${user.status}">Text</div>
             <div th:text="#{ACTIVE}">Text</div>
        </div>

        <form style="margin-top: 20px; margin-bottom: 10px" id="form" enctype="multipart/form-data">
            <label> File name:
                <input type="text" name="name" />
            </label><br />
            <input style="margin-top: 10px;" name="file" type="file" />
        </form>
        <button id="upload">Upload</button>
        <label style="color: #ff0000" id="error"></label><br />

        <form th:action="@{/logout}" id="logoutForm" method="post">
            <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
        </form>
        <script>
            function logout() {
                document.getElementById("logoutForm").submit();
            }
        </script>
        <a href="javascript:logout();">Logout</a>

        <a th:href="@{/user/new}">New user</a>
        <a th:href="@{/controlPanel}">Control panel</a>
    </body>
</html>