<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="main.css" th:href="@{/resources/css/main.css}" />
        <script th:src="@{/resources/js/jquery-1.11.2.min.js}"></script>
        <script th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
        <script th:src="@{/resources/js/stomp.js}"></script>
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <script th:inline="javascript">
            $(function() {
                var socket = new SockJS("/hello");
                var stompClient = Stomp.over(socket);
                stompClient.connect({}, function(frame) {});

                $("#upload").on("click", function() {
                    var oMyForm = new FormData(document.getElementById('form'));
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    $.ajax({
                        url: "/file/new",
                        data: oMyForm,
                        dataType: 'text',
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        complete: function(msg) {
                            if (msg.responseText === "SUCCESS") {
                                stompClient.send("/app/hello", {}, JSON.stringify({'name': msg.responseText}));
                                $(".error").text("");
                            } else if (msg.responseText === "FORMAT") {
                                $(".error").text("Wrong file format");
                            } else {
                                $(".error").text("ERROR");
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h2>Hello <span th:text="${#authentication.name}">Name</span></h2>

        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            This will only be displayed if authenticated user has role ROLE_ADMIN. <br />
        </div>

        <div th:each="user : ${users}" th:text="${user.id + ' ' + user.username + ' '} + #{${user.status}}">Text</div>

        <form style="margin-top: 20px; margin-bottom: 10px" id="form" enctype="multipart/form-data">
            <label>File name: </label><br />
            <input type="text" name="name" />
            <input style="margin-top: 10px;" name="file" type="file" />
        </form>
        <button id="upload">Upload</button>

        <label class="error"></label><br />

        <form th:action="@{/logout}" id="logoutForm" method="post"></form>
        <script>
            function logout() {
                document.getElementById("logoutForm").submit();
            }
        </script>

        <ul>
            <li><a href="javascript:logout();">Logout</a></li>
            <li><a th:href="@{/user/new}">New user</a></li>
            <li><a th:href="@{/controlPanel}">Control panel</a></li>
            <li><a th:href="@{/file/list}">Files list</a></li>
        </ul>
    </body>
</html>