<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <script th:src="@{/resources/js/jquery-1.11.2.min.js}"></script>
        <script>
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: '/pagination',
                    dataType: 'json',
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(user) {
                        console.log(user);
                        console.log(user.username);
                        console.log(user.password);
                        console.log(user.amount);
                    }
                });
            });
        </script>
    </head>
    <body>
        <span><a th:href="@{/pagination(page=1)}">1</a></span>
        <span><a th:href="@{/pagination(page=2)}">2</a></span>
        <span><a th:href="@{/pagination(page=3)}">3</a></span>

        <br />
        <span th:each="item : ${list}" th:text="${item}">Item</span>
    </body>
</html>